//settings for getting sass compiler to behave: ~/Library/Application Support/Code/User/settings.json

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat&display=swap');

// Bootstrap Variable Overrides (ordered as found in bootstrap source _variables.scss)

// Color system
$white:    #fff !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $orange !default;
// $secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

// Options


// Spacing
section {
  padding-bottom: 5rem;
}
#marketing {
  text-align: center;
 }

#marketing div img {
  max-width: 30%;
}
// Body

body {
  //background: no-repeat center/80% url("../img/image.png");
  background: no-repeat url("../../../img/bg_s.png"); // TODO: this will need media query
}


// Links
// Paragraphs
// Grid 
// Typography
$font-family-sans-serif:      "Montserrat", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family:        "Josefin Sans";
// $headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

// Tables
// Buttons
// Forms
// Form validation
// Navs
// Navbar
// Dropdowns
// Pagination

// Jumbotron
div.jumbotron {
  background-color: rgba(0,0,0,0);
  color: $white;
  height: 350px; // TODO: this will need media query
}

.jumbotron .lead {
  padding-top: 95px; // TODO: this will need media query
}

// Cards
// Tooltips
// Form tooltips must come after regular tooltips
// Popovers
// Toasts
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Spinners
// Close
// Code
// Utilities
// Printing

@import "../../bootstrap/scss/bootstrap.scss";
